{% extends 'articles/base.html' %}

{% block title %}EDIT{% endblock %}

{% block body %}
    <h1 class="class">EDIT</h1>
    <h2>{{ article.pk }}번 글</h2>
    <hr>
    <form action="{% url 'articles:update' article.pk %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" value="{{ article.title }}"><br>
        <textarea name="content" id="" cols="30" rows="10">{{ article.content }}</textarea><br>
        <input type="submit">
    </form>
    <hr>
    <a href="{% url 'articles:detail' article.pk %}">[이전으로]</a>
{% endblock %}